body {
    background-image: url("/img/fondo2.jpg");
    background-attachment: fixed;
}

h1{
    color: white;
}

.form{
    width: 340px;
    height: 440px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10 #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width:calc(100vw -40px); 
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

h2{
    margin: 10px 0;
    padding-bottom: 10px;
    width: 250px;
    color: grey;
    border-bottom: 3px solid black;  
}

input{
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all .3s;
    border-bottom: 2px solid grey;
}

input:focus{
    border-bottom: 2px solid lightblue;
}

p:before{
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: gray;
}

button{
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 2px solid gray;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s;
}

button:hover{
    background: gray;
    color: white;
}

div{
    position: absolute;
    bottom: -15px;
    right: -20px;
    background-color: black;
    color: white;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}

span{
    margin: 0 5px 0 15px;
}

footer {
    background-color: rgb(17, 17, 17);
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer img {
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}