.boton-enlace {
    background-color: #bd3333; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

body {
    background-image: url("/img/fondo2.jpg");
    background-attachment: fixed;
}

* {
    color: white;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    background-color: rgb(17, 17, 17);
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer img {
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}
